* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.app {
  background: white;
  padding: 20px;
  width: 320px;
  border: 1px solid rgb(123, 121, 121);
  border-radius: 6px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 6px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
 padding: 0;
}

li {
  cursor: pointer;
  list-style: none;
  padding: 8px;
  margin-top: 6px;
  background: #eee;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
